<div style="padding:30px;">
  <nz-card>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="3.3">
        <span>Farmer Registration</span><br><br>
      </div>
      <div nz-col [nzSpan]="3.3" style="margin-left: 45em;">
        <nz-upload
              nzName="file"
              [(nzFileList)]="files"
              [nzTransformFile]="transformFile"
              [nzData]="getExtraData"
              [nzAction]="mockOSSData.host"
              (nzChange)="onChange($event)"
            >
              <button nz-button nzType="primary" nzDanger>
                <span nz-icon nzType="upload"></span>
                Import Farmers
              </button>
        </nz-upload>
        <!-- <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
          <button nz-button nzType="primary" nzDanger>
            <span nz-icon nzType="upload"></span>
            Import Farmers
          </button>
        </nz-upload>
        <button
          nz-button
          [nzType]="'primary'"
          [nzLoading]="uploading"
          (click)="handleUpload()"
          [disabled]="fileList.length === 0"
          style="margin-top: 16px"
        >
          {{ uploading ? 'Uploading' : 'Start Upload' }}
        </button> -->
        <!-- <button nz-button nzType="primary" nzDanger accept=".pdf,.word," (change)="oNSelect($event)">
          <span nz-icon nzType="upload"></span>
          Import Farmers
        </button> -->
      </div>
      <div nz-col [nzSpan]="3.3">
          <button nz-button nzType="primary"  nzDanger style="background-color: #cc0000;">
            <span nz-icon nzType="download"></span>
            Download Template
          </button>
      </div>
    </div>
    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="farmerDetails">
        <ng-template matStepLabel>  Basic Details<br>Farmer Basic Details</ng-template>
        <form [formGroup]="farmerDetails" class="mat-form" id="farmer">
          <div class="form-header">
            <h5>Farmer Details</h5>
          </div>
          <div class="row">
              <mat-form-field appearance="fill" class="first">
                <mat-select placeholder="Type of Farmer" formControlName="famerType">
                  <mat-option value="" selected></mat-option>
                  <mat-option value="Small Scale">Small Scale</mat-option>
                  <mat-option value="Large Scale">Large Scale</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="first">
                <input matInput placeholder="First Name" formControlName="firstName">
              </mat-form-field>
              <mat-form-field appearance="fill" class="first">
                <!-- <mat-label>First Name</mat-label> -->
                <input matInput placeholder="Last Name" formControlName="lastName">
              </mat-form-field>
              <mat-form-field appearance="fill" class="first">
                <mat-select placeholder="Gender" formControlName="gender">
                  <mat-option value="" selected></mat-option>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field appearance="fill" class="second">
                <!-- <mat-label>First Name</mat-label> -->
                <input matInput placeholder="ID Number" formControlName="id_number">
              </mat-form-field>
              <mat-form-field appearance="fill" class="second">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" style="padding-bottom: 10px;" formControlName="date">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill" class="second">
                <!-- <mat-label>First Name</mat-label> -->
                <input matInput placeholder="Tax Pin" formControlName="taxPin">
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field appearance="fill" class="first">
                <!-- <mat-label>Choose an option</mat-label> -->
                <mat-select placeholder="select District"  formControlName="district">
                  <mat-option value="" selected></mat-option>
                  <mat-option value="Small Scale">Mbarara</mat-option>
                  <mat-option value="Large Scale">Tororo</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance="fill" class="first">
                <!-- <mat-label>GENDER</mat-label> -->
                <mat-select placeholder="select Region"  formControlName="region">
                  <mat-option value="" selected></mat-option>
                  <mat-option value="Male">Toror</mat-option>
                  <mat-option value="Female">Mbarara</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance="fill" class="first">
                <mat-select placeholder="select department"  formControlName="department">
                  <mat-option value="" selected></mat-option>
                  <mat-option value="Male">Maize</mat-option>
                  <mat-option value="Female">Banana</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="first">
                <!-- <mat-label>First Name</mat-label> -->
                <input matInput placeholder="Village/Ward" formControlName="village">
              </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="full">
              <input matInput type="file" id="img" placeholder="Choose file" accept=".jpg,.png," (change)="onSelect($event)">
            </mat-form-field>
          </div>
        </form>
        <div class="step-button">
          <button mat-button matStepperNext >Next</button> 
          <!-- (click)="onSubmitBasic()" -->
        </div>
      </mat-step>
      <mat-step [stepControl]="contactDetails">
        <ng-template matStepLabel>Contact Details<br>Farmer Contact Details</ng-template>
        <form [formGroup]="contactDetails" class="mat-form">
          <div class="form-header">
            <h5>Contact Details</h5>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Farm Manager" formControlName="farm_manager">
            </mat-form-field>  
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Primary Phone Number" formControlName="pri_number">
            </mat-form-field> 
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Alternative Phone Number" formControlName="alt_number">
            </mat-form-field>
          </div>     
          <div class="row">
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Primary Email" formControlName="pri_email">
            </mat-form-field>  
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Alternative Email" formControlName="alt_email">
            </mat-form-field> 
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Postal Address" formControlName="post_address">
            </mat-form-field>
          </div>   
        </form>
        <div class="step-button">
          <button mat-button matStepperNext>Next</button>
          <button mat-button matStepperPrevious>Previous</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="accountDetails">
        <ng-template matStepLabel>Account Details <br> Login Account Details</ng-template>
        <form [formGroup]="accountDetails" class="mat-form">
          <div class="form-header">
            <h5>Account Details</h5>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="one">
              <mat-select placeholder="select account type" formControlName="account_type">
                <mat-option value="" selected></mat-option>
                <mat-option value="farmer">Farmer</mat-option>
                <mat-option value="agent">Agent</mat-option>
                <mat-option value="partner">Partner</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="one">
              <mat-select placeholder="role" formControlName="role">
                <mat-option value="" selected></mat-option>
                <mat-option value="Male">Admin</mat-option>
                <mat-option value="farmer">Farmer</mat-option>
                <mat-option value="agent">Agent</mat-option>
                <mat-option value="partner">Partner</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Farm Manager" formControlName="farm_manager">
            </mat-form-field>  
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Primary Phone Number" formControlName="pri_number">
            </mat-form-field> 
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Alternative Phone Number" formControlName="alt_number">
            </mat-form-field>
          </div> 
          <div class="row">
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
            </mat-form-field>  
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="ID Number" formControlName="id_number">
            </mat-form-field> 
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
        </form>
        <div class="step-button">
          <button mat-button matStepperNext >Next</button>
          <button mat-button matStepperPrevious>Previous</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="farmDetails">
        <ng-template matStepLabel>Farm Details <br> Farm Details</ng-template>
        <form [formGroup]="farmDetails" class="mat-form">
          <div class="form-header">
            <h5>Farn Details</h5>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Farm Name" formControlName="farmName">
            </mat-form-field>  
            <mat-form-field appearance="fill" class="second">
              <input matInput placeholder="Farm Size" formControlName="farmSize">
            </mat-form-field> 
            <mat-form-field appearance="fill" class="second">
              <mat-select placeholder="Unit of Measure" formControlName="unit">
                <mat-option value="" selected></mat-option>
                <mat-option value="Acres">Acres</mat-option>
                <mat-option value="Hectares">Hectares</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="first">
              <input matInput placeholder="Cocoa Tree Age" formControlName="cocoa_age">
            </mat-form-field>  
            <mat-form-field appearance="fill" class="first">
              <input matInput placeholder="Cocoa Tree Height" formControlName="tree_height">
            </mat-form-field> 
            <mat-form-field appearance="fill" class="first">
              <input matInput placeholder="Estimated Basal Area(m2/ha)" formControlName="basal_area">
            </mat-form-field>
            <mat-form-field appearance="fill" class="first">
              <input matInput placeholder="Estimated Yield" formControlName="estimated_yield">
            </mat-form-field>
          </div>
        </form>
        <div class="step-button">
          <button mat-button matStepperNext >Next</button>
          <button mat-button matStepperPrevious>Previous</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Farmer Survey<br> Farmer Survey</ng-template>
        <p>You are now done.</p>
        <div class="step-button">
          <button mat-button (click)="onSubmit()">Finish</button>
          <button mat-button matStepperPrevious>Previous</button>
        </div>
      </mat-step>
    </mat-stepper>    
  </nz-card>
</div>