
<div style="padding:30px;">
    <nz-card>
        <span>Wallet Transaction Details</span><br>
          <div class="table-responsive">
            <table datatable  id = "datatable" class="table table-striped custom-table mb-0 datatable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FARMER ID</th>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>PHONE NUMBER</th>
                        <th>LOCATION</th>
                        <th>TRANSACTION TYPE</th>
                        <th>TRANSACTION STATUS</th>
                        <th>TRANSACTION CHANNEL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of listTransactions;let i = index">
                        <td>{{row.id}}</td>
                        <td>{{row.farmerId}}</td>
                        <td>{{row.firstName}}</td>
                        <td>{{row.lastName}}</td>
                        <td>{{row.mobileNumber}}</td>
                        <td>{{row.location}}</td>
                        <td>{{row.tran_type}}</td>
                        <td><nz-tag [nzColor]="'green'">{{row.tran_status}}</nz-tag></td>
                        <td>{{row.tran_channel}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nz-card>
</div>