<div style="padding:20px;">
    <nz-card class="card mb-3">
        <div class="container">
            <div class="row">
              <div class="col-3">
                <div class="card border mb-3" style="border-color: #fafafa;border-width: 3px; border-style: dashed;">
                <!-- <div> -->
                    <mat-card style="height: 100%;">
                        <div style="padding-left: 3em;">
                            <img [src]="imgg" alt="user" style="border-radius: 6em;height: 10em;width: 10em;">
                        </div>
                        <h6 style="padding-left: 2em;padding-top: 10px;">JOSEPH KARANJA</h6>
                        <div>
                          <nz-descriptions nzTitle="" nzBordered>
                            <nz-descriptions-item nzTitle="USER ID">
                              <nz-tag [nzColor]="'orange'">U36THY</nz-tag>
                            </nz-descriptions-item>
                          </nz-descriptions> 
                        </div>
                    </mat-card>
                  </div>
              </div>
              <div class="col-9">
                <div class="card-container">
                    <nz-tabset nzType="card">
                      <nz-tab nzTitle="Basic Details">
                        <nz-descriptions nzTitle="Basic Information" nzBordered>
                            <nz-descriptions-item nzTitle="First Name">Joseph</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Middle Name">Karanja</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Last Name">Karanja</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Type of Farmer">Small Scale</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="District">Roysambu</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Gender">Male</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="ID Number">00000000</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="DoB">August 00, 2022</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="KRA Pin">A65433210</nz-descriptions-item>
                          </nz-descriptions>
                      </nz-tab>
                      <nz-tab nzTitle="Contact Details">
                        <nz-descriptions nzTitle="Contact Details" nzBordered>
                          <nz-descriptions-item nzTitle="Farm Manger">Joseph Karanja</nz-descriptions-item><br>
                          <nz-descriptions-item nzTitle="Primary Number">+254 000 000 000</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Alternative Number">+254 000 000 000</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Primary Email"><code>joseph@gmail.com</code></nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Post Address">52-10306, Kigali</nz-descriptions-item>
                        </nz-descriptions>
                      </nz-tab>
                      <nz-tab nzTitle="Account Details">
                        <nz-descriptions nzTitle="Account Details" nzBordered>
                          <nz-descriptions-item nzTitle="User Name">Joseph Karanja</nz-descriptions-item><br>
                          <nz-descriptions-item nzTitle="User ID">U56HJY</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="User Email"><code>joseph@gmail.com</code></nz-descriptions-item>
                          <nz-descriptions-item nzTitle="User Password"></nz-descriptions-item></nz-descriptions>
                    </nz-tab>
                      <nz-tab nzTitle="Farm Details">
                        <nz-descriptions nzTitle="Farm Details" nzBordered>
                          <nz-descriptions-item nzTitle="Farm Name">Wilmer deluna</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Farm Size">100 000</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Unit">Acres</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Plant Age">15 years</nz-descriptions-item>
                          <nz-descriptions-item nzTitle="Est- Yield">600kg</nz-descriptions-item>
                        </nz-descriptions>
                      </nz-tab>
                    </nz-tabset>
                  </div>
              </div>
            </div>
          </div>
      </nz-card>
</div>
  
  